body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}





.section-form{
    background-color: rgba(14, 13, 13, 0.918);
    height: 500px;
    padding: 0px 60px;
}

form{
    display: flex;
    flex-direction: column;

    .form-element{
        display: flex;
        flex-direction: column;
    }

    #username-form{
        input{
            margin-bottom: 24px;
        }
    }

    input{
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        padding: 15px 5px;
        width: 300px;
        color: white;
        outline: none;
    }

    label{
        font-size: 17px;
    }

    button{
        background-color: transparent;
        color: white;
        border: 1px solid white;
        padding: 15px 10px;
        margin-top: 15px;
        font-size: 18px;
        transition: 500ms;
        cursor: pointer;
    }

    button:hover{
        background-color: rgb(255, 255, 255);
        color: black;
        border: 1px solid black;
        transition: 500ms;
    }
}



.section-nexus{
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 400px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    img{
        width: 150px;
        margin-top: 170px;
        margin-left: 120px;
        transition: 500ms;
        cursor: pointer;
    }

    img:hover{
        margin-top: 150px;
        transition: 500ms;
    }
}

.title-form{
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}